<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../assets/css/custom.css">
		<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
		<script src="../assets/js/jquery-2.1.4.js"></script>
		<script src="../assets/js/bootstrap.js"></script>
	</head>
	<body class="lol-match-summary">
		<div class="panel panel-primary inline-block">
			  <div class="panel-heading">
				{{#with match}}
					<h3 class="panel-title"><strong>{{type}}</strong> - {{date}}
			  			<span class="pull-right">{{duration}} - {{outcome}}</span>
			  		</h3>
				{{/with}}
			  </div>
			  <div class="panel-body">
  				<img class="inline-block lol-champion-icon lol-icon-lg" src="https://ddragon.leagueoflegends.com/cdn/{{version}}/img/champion/{{champion}}.png"/>
			  	<div class="inline-block lol-player-stats breathe-lg">
			  		<h4>
			  			<span>
				  			<strong>{{champion}}</strong>
							{{#with score}}
				  				<span class="breathe text-success">{{kills}}</span>/<span class="breathe text-danger">{{deaths}}</span>/<span class="breathe">{{assists}}</span>
							{{/with}}
							{{#if multikill}}
				  				<span class="label label-danger">{{type}}</span>
							{{/if}}
				  		</span>
				  		<span class="pull-right">
				  			{{minions}} cs
				  		</span>
			  		</h4>
			  		<div class="inline-block">
					  	<div class="lol-summspells inline-block">
							{{#each spells}}
								<div>
									<img class="lol-icon" src="https://ddragon.leagueoflegends.com/cdn/{{../version}}/img/spell/{{.}}.png"/>
								</div>
							{{/each}}
					  	</div>
			  			<div class="breathe-lg inline-block">
					  		{{#each items}}
							  <img class="lol-icon" src="https://ddragon.leagueoflegends.com/cdn/{{../version}}/img/item/{{.}}.png">
							{{/each}}
			  			</div>
				  		<div class="inline-block">
			  				<div>
				  				<img class="lol-icon" src="https://ddragon.leagueoflegends.com/cdn/{{version}}/img/item/{{trinket}}.png">
				  			</div>
				  			<hr>
			  				<div>
			  					<div class="lol-icon text-center">
						  			<img class="lol-icon-sm" src="https://ddragon.leagueoflegends.com/cdn/{{version}}/img/item/2043.png"> 
						  			<strong>2</strong>
						  		</div>
				  			</div>
				  		</div>
			  		</div>
			  	</div>
			  	<div class="inline-block lol-team-stats">
		  			<div class="inline-block">
		  				<div class="text-center">
		  					<h4>Ally</h4>
		  				</div>
		  				<div>
							{{#each teams.allies}}
								<div>
									<img class="lol-icon-xs" src="https://ddragon.leagueoflegends.com/cdn/{{../version}}/img/item/{{champion}}.png"> 
									{{score}}
								</div>
							{{/each}}
			  			</div>
		  			</div>
	  				<div class="inline-block breathe-lg">
	  					<div class="text-center">
	  						<h4>Enemy</h4>
	  					</div>
	  					<div>
							{{#each teams.allies}}
								<div>
									<img class="lol-icon-xs" src="https://ddragon.leagueoflegends.com/cdn/{{../../version}}/img/item/{{champion}}.png"> 
									{{score}}
								</div>
							{{/each}}
			  			</div>
		  			</div>
			  	</div>
			  </div>
		</div>
	</body>
</html>